{% extends 'base.html.twig' %}

{% block title %}
    {{ titre  }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">S'inscrire</h1>

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {# {{ form_row(form.roles, {'attr': {'style': 'display:none;' }}) }} #}

        <button type="submit">S'inscrire</button>
        {{ form_end(form) }}
    </div>

{% endblock %}