{% extends 'base.html.twig' %}

{% block title %}Mega Drive{% endblock %}

{% block body %}


        <div class="card mb-3">
            <div class="row no-gutters"  style="margin:20px;">
                <div class="col-md-4">
                    <img class="img-fluid" src="{{ asset( 'images/' ~ jeu.photo  ) }}" />
                </div>
                    <div class="col-md-8">
                        <h5 class="card-title">{{ jeu.titre }}</h5>
                        <p class="card-text">{{ jeu.description }}</p>
                        <h5 class="card-title">Prix</h5>
                        <p class="card-text">{{ jeu.prix }} &euro;</p>
                        <h5 class="card-title">Console</h5>
                        <p class="card-text">{{ jeu.consoleId.nom }}</p> 
                        <h5 class="card-title">Genre</h5>
                        <p class="card-text">{{ jeu.categorie.nom }}</p> 
                        <h5 class="card-title">Annee</h5>
                        <p class="card-text">{{ jeu.annee }}</p>
                        <button type="button" class="btn btn-success">Ajouter au panier</button>
                    </div>
            </div>
        </div>


{% endblock %}