{% extends 'base.html.twig' %}

{% block title %}{{ titre  }}{% endblock %}

{% block body %}
<div class="container">


<br>
    <div class="row">
        <!-- Image -->
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="{{ asset( 'images/' ~ jeu.photo  ) }}" />
                    </a>

        <div class="description-photo">
            <div class="card border-light mb-3">
                <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-align-justify"></i> Description
                </div>
                <div class="card-body" style="border:1px solid black;">
                    <p class="card-text">
                    {{ jeu.description }}
                    </p>
                </div>
            </div>
                   <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body bg-white border border-ligh">
                    <p class="price" style="color: black;">{{ jeu.prix }} &euro;</p>
                    <form method="get" action="cart.html">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('ajouter_panier', {'id': jeu.id}) }}" class=" btn btn-lg btn-block text-uppercase" style="color: black;" >
                                <i class="fa fa-shopping-cart" style="color: black;"></i>  Ajouter au panier
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') == false %}
                            <i class="fa fa-shopping-cart" style="color: black;"></i> Veuillez vous connectez pour ajouter au panier
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="row">

    </div>
</div>

{% endblock %}