{% extends 'base.html.twig' %}

{% block title %}Mega Drive{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase" style="text-align: center;">
                    <i class="fa fa-star"></i> Mega Drive
                </div>
                <div class="card-body">
                    <div class="row">
                    
                        {% for jeu in allJeux %}
                            <div class="col-lg-3">
                                <div class="card shadow">
                                    <div class="card">
                                        <img class="card-img-top" src="{{ asset( 'images/' ~ jeu.photo  ) }}" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ jeu.titre }}</h5>
                                                {# <p>{{ jeu.description }}</p> #}
                                                <p><strong>{{ jeu.prix }} €</strong></p>
                                                <p>Année : {{ jeu.annee }}</p>
                                                <p>Categorie : {{ jeu.categorie.nom }}</p>
                                                <p>Console : {{ jeu.consoleId.nom }}</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
