{% extends 'base.html.twig' %}

{% block title %}
    {{ titre  }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Créer un nouvel utilisateur</h1>

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {{ form_row(form.roles) }}

        <button type="submit">Créer l'utilisateur</button>
        {{ form_end(form) }}
    </div>

{% endblock %}