<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Retro Gaming 90{% endblock %}</title>
        {% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/all.css') }}" rel="stylesheet">
        <link href="{{ asset('css/class.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="{{ path('accueil') }}"> <img class="logo1" src="{{ asset('icons/logo-retro1.png') }}" width="130px"> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('listeAllNintendo') }}">  <img class="img1" src="{{ asset('icons/icon-nine.png') }}"/> Super Nintendo</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('listeAllMegaDrive') }}"> <img class="img1" src="{{ asset('icons/icon-mega.png') }}"/> Mega Drive</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('Administration') }}"><img class="img1" src="{{ asset('icons/icon-admin.png') }}"/> Administration</a>
                        </li>

                    </ul>

                    <ul class="navbar-nav pl-3">
                        <li class="nav-item">
                        <a class="nav-link" href="#"> <img class="img1" src="{{ asset('icons/icon-monster.png') }}"/> Connexion</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"> <img class="img1" src="{{ asset('icons/icon-deconnexion.png') }}"/> Deconnexion</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#l">  <img class="img1" src="{{ asset('icons/icon-etoile.png') }}"/> Inscription</a>
                        </li>
                    </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-sm ml-3" href="cart.html">
                        <i class="fa fa-shopping-cart fa-2x"></i> <p > Panier </p>
                        <span class="badge badge-light"> 3 </span>
                    </a>
                </form>
                </div>
            </div>
        </nav>

    <div class="card-header bg-dark text-white text-uppercase" style="text-align: center;"> {{titre}}
    </div>
    <br>

        {% block body %}{% endblock %}


        <!-- Footer -->
<footer>
    <div class="container-wrap">
        <div class="row">
            <div class="columun">
                <div class="footer-weight">
                    <h5 class="widget-title about-widget"> A propos </h5>
                    <div class="cards">
                    <i class="fab fa-cc-mastercard fa-2x"></i> 
                    <i class="fab fa-cc-visa fa-2x"></i>
                    <i class="fab fa-cc-amex fa-2x"></i> 
                    <i class="fab fa-cc-paypal fa-2x"></i>
                    </div>
        
                    <p> <span> <i class="fas fa-lock"></i> </span> Paiements sécurisées </p>
               </div>
            </div>

            <div class="columun">
                <div class="footer-weight Information-widget">
                <h5 class="widget-title"> Informations </h5>
                <ul>
                    <li> <a href="conditionsinfo.html"> CONDITIONS GENERALES </a> </li>
                    <li> <a href="EchangesRetours.html.html"> ECHANGES ET RETOURS </a> </li>
                    <li> <a href="#"> NOUS CONTACTER </a> </li>
                </ul>
                 </div>
           </div>

          <div class="copyright">
              <div class="container">
                <div class="footer-weight about-widget" style="text-align: center;">
                    <div class="social-widget"> 
                        <a href="#"> <i class="fab fa-facebook-square fa-2x"></i> </a>
                        <a href="#"> <i class="fab fa-instagram fa-2x"></i> </a> 
                        <a href="#"> <i class="fab fa-twitter-square fa-2x "></i> </a> 
                        <a href="#"> <i class="fab fa-youtube fa-2x"></i> </i> </a>   
                    </div>
                </div>
                <br>
                &copy; 2020 - Team Kum, Julien, Victoria et Améline - Tous droits réservés - <p> Technologies utilisées : 
                    <i class="fab fa-html5 fa-2x "></i>   <i class="fab fa-css3-alt fa-2x"> </i> 
                    <i class="fab fa-php fa-2x"></i>  <i class="fab fa-symfony fa-2x"></i> 
              </p>
                </ul>

              </div>
          </div>
          <div style="margin-top:50px;">
            <p class="float-right">
                <a href="#" style="color:#007bff;"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
            </p>
        </div>
        </div>


    
   
        </div>
    </div>
</footer>

        {% block javascripts %}
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
